/* newsItem.css */

.card {
    width: 18rem;
    margin-bottom: 20px;
    border: 1px solid #ccc; /* Add border for card */
    border-radius: 5px; /* Add border radius for card */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add box shadow for card */
  }
  
  .card-img-top {
    height: 200px;
    object-fit: cover;
    border-top-left-radius: 5px; /* Adjust border radius for image corners */
    border-top-right-radius: 5px; /* Adjust border radius for image corners */
