/* NotFoundPage.css */
.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #000; /* Change background color to black */
}

.loading-container {
  text-align: center;
  color: #fff; /* Change text color to white */
  opacity: 0; /* Initially hide loading content */
  animation: fadeIn 0.5s ease forwards;
}

.content-container {
  text-align: center;
  color: #fff; /* Change text color to white */
  opacity: 0; /* Initially hide content */
  animation: slideIn 0.5s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.not-found-heading {
  font-size: 2.5rem;
  color: #dc3545;
  margin-bottom: 20px;
}

.sorry-text {
  display: flex;
  justify-content: center;
  font-size: 5rem;
}

.sorry-text div {
  color: #ffc107; /* Change color of individual letters to yellow */
}

.not-found-text {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.yellow-text {
  color: #ffc107;
}
